<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.CategoryMapper">
    <select id="selectOne" parameterType="int" resultType="categoryDTO">
        SELECT * FROM `shop`.`category`
        WHERE id = #{Id}
    </select>
    <select id="selectAll" resultType="categoryDTO">
        SELECT * FROM `shop`.`category`
    </select>

</mapper>