<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.PurchaseHistoryMapper">
    <select id="selectOne" parameterType="oderProductDTO" resultType="oderProductDTO">
        SELECT * FROM `shop`.`purchase_history`
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="oderProductDTO">
        INSERT INTO `shop`.`purchase_history` (state, product_id, buyer_id, count, final_price, delivery_date)
        VALUES( #{state}, #{productId}, #{buyerId}, #{count}, #{finalPrice}, #{deliveryDate})
    </insert>
    <select id="selectAll" resultType="oderProductDTO">
        SELECT * FROM `shop`.`purchase_history`
    </select>
    <select id="selectAllByLogin" parameterType="int" resultType="oderProductDTO">
        SELECT * FROM `shop`.`purchase_history`
        WHERE buyer_id = #{buyerId}
    </select>
    <update id="update" parameterType="oderProductDTO">
        UPDATE shop.`purchase_history` SET
        state = #{state}
        WHERE
        id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM shop.purchase_history
        WHERE id= #{id}
    </delete>
    <insert id="insertMulti" parameterType="java.util.Map">
        INSERT INTO shop.purchase_history (state, product_id, buyer_id, count, final_price, delivery_date)
        VALUES
        <foreach collection="list" item="item" separator=" , ">
            ( #{state}, #{productId}, #{buyerId}, #{count}, #{finalPrice}, #{deliveryDate})
        </foreach>
    </insert>
</mapper>