.inner {
    width: 80%;
    margin: auto;

}
.likeButton {
    padding: 0;
    margin: 0 0 0 5px;
    background-color: #ffffff;
    border: none;
}
.likeButton img {
    width: 20px !important;
    height: 20px !important;
}
.cart-title {
    display: flex;
    margin: 15px;
}
.cart-title span {
    font-size: 2em;
    font-weight: 700;
}
.info .title p {
    font-weight: 600 !important;
    font-size: 1.5em;
    padding: 0;
    text-align: center;
}
.cart-bundle-title {
    height: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fafafa;
}

.cart-checkbox {
    width: 30px;
    height: 10px;
    margin: 0 auto;
    align-items: center;
    align-content: center;
}

.cartTable td {
    text-align: center;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.cartTable .info {
    text-align: left;
}
.cartTable img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.head {
    text-align: center;

}


.basket-box .head {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fafafa;
}


.basket {
    display: flex;
}

.total-info-box {
    flex-wrap: nowrap;
}
.total-info {
    flex-wrap: nowrap;
}
.total-info .title {
    font-weight: 1000;
    font-size: 1.5em;
    color: #ac1c1d;
}
.total-info span{
    font-size: 1.3em;
    padding: 10px 5px;
    text-align: center;
}
.total-info .tit{
    border-left: 1px solid #ddd;
}