/* button */
.custom-btn {
    margin: 20px;
    outline: none;

    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}
/* 4 */
.btn-4 {
    position: relative;
    color: #000;
    z-index: 2;
    line-height: 40px;
    padding: 0;
}
.btn-4:hover{
    border: none;
}
.btn-4:before,
.btn-4:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    border: 2px solid;
    z-index: -1;
    transition: all 0.3s ease;
}
.btn-4:before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #000;
    border-left-color: #000;
}
.btn-4:after{
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #000;
    border-right-color: #000;
}
.btn-4:hover:before,
.btn-4:hover:after {
    border-color: #000;
    height: 100%;
    width: 100%;
}


/* === HEADING STYLE #4 === */
.four h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.four h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
}
.four h1 em {
    font-style: normal;
    font-weight: 600;
}




.four h1 {
    text-align: center;
    padding-bottom: 0.7em;
}
.four h1 span {
    font-weight: 300;
    word-spacing: 3px;
    line-height: 2em;
    padding-bottom: 0.35em;
    color: rgba(0, 0, 0, 0.5);
}
.four h1:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 1px;
    content: "";
    left: 50%;
    margin-left: -30px;
    background-color: #777;
}


.inner {
    width: 80%;
    margin: auto;
    font-family: "Raleway", sans-serif ;
}

span, p {
    font-family: "Raleway", sans-serif ;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.page-tit{
    margin-bottom: 20px;
}
.form-box {
    display: flex;
}

.delivery-box {
    width: 50%;
    margin: 5px;

}
.delivery-box .info {
    margin: 5px;
    padding: 5px;
    border: 1px solid #DBDFE5;
    border-radius: 10px;
}

.delivery-box .info p {
    line-height: 1em;
    padding: 0;
    margin: 2px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.2em;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;

}



.payment-box {
    width: 50%;
    margin: 5px;
}
.total-box {
    width: 100%;
}
.total-box .tit{
    width: 40%;
}
.total-box .data{
    width: 60%;
    text-align: right;
}

.itemList {
    width: 100%;
    /*border: 1px solid #DBDFE5;*/
    border-radius: 10px;
}
.itemDateList {
    margin: 5px;
    padding: 5px;
    border: 1px solid #DBDFE5;
    border-radius: 10px;
}

.item .info {
    display: flex;
}

.item .img-box {
    width: 77px;
    height: 77px;
}

.item .img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.item .data-box {
    margin: 10px;



}
.item .data-box span, p{
    font-weight: 300;
    /*word-spacing: 3px;*/
    line-height: 1em;
    /*padding-bottom: 0.35em;*/
    color: rgba(0, 0, 0, 0.5);
}
.item .data-box .tit {
    padding: 0;
    margin: 2px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.button-box {
}
.payButton {
    margin: 0 auto;
}

.total-box .info {
    margin: 5px;
    padding: 5px;
    border: 1px solid #DBDFE5;
    border-radius: 10px;
}

.total-box .price-box {
    width: 60%;
    text-align: right;
}
.total-box .title span {
    font-weight: 150;
    font-size: 1.1em;
}
.total-box .title p {
    font-weight: 500 !important;
    font-size: 1.2em;
}
.total-box .origin-price {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.4) !important;
}
.total-box .total-price {
    color: black;
    /*color: #cb1400 !important;*/
}
.total-box .finalPrice{
    font-weight: 600 !important;
    font-size: 1.3em;
    color: #cb1400 !important;
}


