hr {
    background-color: #fff;
    padding: 0;
}

hr.hr-3 {
    border: 0;
    height: 0;
    border-top: 1px solid #8c8c8c;
}
body {
    font-family: 'Raleway', sans-serif;
}
/* === BASE HEADING === */

h1 {
    position: relative;
    padding: 0 0 10px 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;

}

h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
}
h1 em {
    font-style: normal;
    font-weight: 600;
}

/* === HEADING STYLE #2 === */
.two h1 {
    text-transform: capitalize;
}
.two h1:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 2px;
    content: "";
    background-color: #c50000;
}
/*.two h1:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    height: 5px;*/
/*    width: 55px;*/
/*    background-color: #111;*/
/*}*/
/*.two h1:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 2px;*/
/*    height: 1px;*/
/*    width: 95%;*/
/*    max-width: 255px;*/
/*    background-color: #333;*/
/*}*/


.two h1 span {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 3em;
    padding-left: 0.25em;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
}
.alt-two h1 {
    text-align:center;
}
.alt-two h1:before {
    left:50%; margin-left:-30px;
}
.two span {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1em;
    padding-left: 0.25em;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
}
.two p {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1em;
    padding-left: 0.25em;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
    margin-bottom: 0;
}


.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
 /*7*/
.btn-7 {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    /*background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);*/
    line-height: 42px;
    padding: 0;
    border: none;
}
.btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;


}
.btn-7:before,
.btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    /*background: rgba(251,75,2,1);*/
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.btn-7:before{
    height: 0%;
    width: 2px;
}
.btn-7:after {
    width: 0%;
    height: 2px;
}
.btn-7:hover{
    /*color: rgba(251,75,2,1);*/
    color: rgba(0,172,238,1);
    background: transparent;
}
.btn-7:hover:before {
    height: 100%;
}
.btn-7:hover:after {
    width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    /*background: rgba(251,75,2,1);*/
    background: rgba(0,172,238,1);
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.btn-7 span:before {
    width: 2px;
    height: 0%;
}
.btn-7 span:after {
    height: 2px;
    width: 0%;
}
.btn-7 span:hover:before {
    height: 100%;
}
.btn-7 span:hover:after {
    width: 100%;
}



/* Itzel */
.product-util-box {
    padding: 2em 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}
.button {
    float: left;
    min-width: 150px;
    max-width: 250px;
    display: block;
    margin: 1em;
    padding: 1em 2em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.button--itzel {
    border: none;
    padding: 0px;
    overflow: hidden;
    width: 255px;
}
.button--itzel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: inherit;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 35% 100%, 35% 60%, 65% 60%, 65% 100%, 100% 100%, 100% 0%);
    clip-path: url(../index.html#clipBox);
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
    transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.button--itzel.button--border-thin::before {
    border: 1px solid;
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
    transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
}
.button--itzel.button--border-thick::before {
    border: 3px solid;
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
    transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
}

.button--itzel::before,
.button--itzel .button__icon {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--itzel .button__icon {
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 20px;
    font-size: 20px;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}
.button--itzel > span {
    display: block;
    padding: 20px;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.button--itzel:hover::before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.button--itzel:hover .button__icon {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: translate3d(-50%, -100%, 0);
    transform: translate3d(-50%, -100%, 0);
}
.button--itzel:hover > span {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}




.inner {
    width: 80%;
    margin: auto;

}
.category-box {
    margin: 10px;
}
.product-box{
    display: flex;
}
.img-box {
    width: 45%;
}
.img-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.info-box {

    width: 55%;
    margin-left: 20px;
}
.info {
    display: flex;
    align-items: center;
    margin-top: 10px;

}
.info .title span {
    font-weight: 150;
    font-size: 1.1em;
    padding: 0;
    text-align: center;

}

.origin-price {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.4) !important;
}
.total-price {
    color: #cb1400 !important;
}
.info .title p {
    font-weight: 600 !important;
    font-size: 1.5em;
    padding: 0;
    text-align: center;
}

.info .data{
    align-items: center;
    left: auto;
    padding: 0;
}
.info .tit {
    width: 120px !important;
}

.info span, p {
    color: black;
}
.count-wrap {
    display: flex;
}

.count-wrap input {
    width: 70px;
    height: 40px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;

}
.count-wrap button {
    display: block;
    padding: 0;
    width: 20px;
    height: 20px;
    font-size: 15px;
    font-weight: 900;
}
.util-box{
    display: flex;
}
.content-box img{
    width: 100%;
}
.product-util-box{

    margin: 0 auto;
}






.product-list{
    width: 735px;
    margin-left: auto;
    margin-right: auto;
}
.products h3{
    font-size: 24px;
    color: #545454;
    margin-top:60px;
    margin-bottom: 60px;
    text-align: center;
}



.likeButton {
    padding: 0;
    margin: 0 0 0 5px;
    background-color: #ffffff;
    border: none;
}
.likeButton img {
    width: 20px !important;
    height: 20px !important;
}