.navbar img{
    margin: 0;
    padding: 0;
    width:120px;
    height:70px;
}

.navbar-brand {
    left: 0;
}
/* input 텍스처가 포커스 됬을때*/
.search input{
    margin: 0;
    width: 35px;
    transition: width .4s;
}
.search {
    width: 50%;
    margin: 0;
    padding: 0;
}
.search input:focus {
    width: 100%;
    border-color: #669900;
}
.navbar-login {
    background-color: rgba(0, 0, 0, 0);
    /*color: whitesmoke;*/
    border: none;
}
.navbar-cart {
    background-color: rgba(0, 0, 0, 0);
    /*color: whitesmoke;*/
    border: none;
}
.navbar-cart img{
    width: 40px;
    height: 40px;
}

#logout {
    border: 1px solid #DBDFE5;
    height: 40px;
    border-radius: 32px;
}