<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <!--        mybatis에서 userDTO를 사용하면 자동으로 객체를 가져올수있도록 설정해놓은것-->
        <typeAlias type="com.bit.spring.model.UserDTO" alias="userDTO"/>
        <typeAlias type="com.bit.spring.model.AddressDTO" alias="addressDTO"/>
        <typeAlias type="com.bit.spring.model.CategoryDTO" alias="categoryDTO"/>
        <typeAlias type="com.bit.spring.model.DeliveryDTO" alias="deliveryDTO"/>
        <typeAlias type="com.bit.spring.model.ProductDTO" alias="productDTO"/>
        <typeAlias type="com.bit.spring.model.PremiumDTO" alias="premiumDTO"/>
        <typeAlias type="com.bit.spring.model.OrderProductDTO" alias="orderProductDTO"/>
        <typeAlias type="com.bit.spring.model.LikeDTO" alias="likeDTO"/>
    </typeAliases>
    <mappers>
        <mapper resource="config/mybatis/mapper/UserMapper.xml"/>
        <mapper resource="config/mybatis/mapper/AddressMapper.xml"/>
        <mapper resource="config/mybatis/mapper/CategoryMapper.xml"/>
        <mapper resource="config/mybatis/mapper/DeliveryMapper.xml"/>
        <mapper resource="config/mybatis/mapper/ProductMapper.xml"/>
        <mapper resource="config/mybatis/mapper/PremiumMapper.xml"/>
        <mapper resource="config/mybatis/mapper/PurchaseHistoryMapper.xml"/>
        <mapper resource="config/mybatis/mapper/CartMapper.xml"/>
        <mapper resource="config/mybatis/mapper/LikeMapper.xml"/>
    </mappers>
</configuration>